<!DOCTYPE html>
<html>
    <head>
        <title>blogApp</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="ui fixed inverted menu">
            <div class="ui container">
                <div class="header item">
                    <a class="item" href="/">
                        <i class="code icon"></i> blogSite
                    </a>
                </div>
                <a class="item" href="/blogs">
                    Home
                </a>
                <a class="item" href="/blogs/new">
                    newPost
                </a>
            </div>
        </div>