i.icon{
    font-size: 2em;
}
.all{
    margin-top: 7.0em;
}

/* .ui.raised.very.padded.text.container.segment {
    margin-top: 7.0em;
} */

h1{
    text-align: center;
}

.delete{
    display: inline;
}